<nav>
 <div class="indigo darken-2 nav-wrapper">
   <a href="#!" class="brand-logo">Drone Gallery</a>
   <a href="#" data-activates="mobile-demo" class="button-collapse">
     <i class="material-icons">menu</i>
   </a>
   <ul class="right hide-on-med-and-down">
       <li><a href="/">Home</a></li>
       <li><a href="/upload">Upload an Image</a></li>
   </ul>
   <ul class="side-nav" id="mobile-demo">
       <li><a href="/">Home</a></li>
       <li><a href="/upload">Upload an Image</a></li>
   </ul>
 </div>
</nav>
