<!DOCTYPE html>
<html ng-app="DroneGallery">
    <head>
        <%- include ../partials/head.ejs %>
        <title>Upload Photo</title>
    </head>
    <body ng-controller="MainController">
        <%- include ../partials/nav.ejs %>
        <div class="container">
            <h1>New Photo</h1>
            <form ng-submit="submit()">
                <div>
                    <label>Title (Required)</label>
                    <input type="text" ng-model="photo.title">
                </div>
                <div>
                    <label>Description (Required)</label>
                    <textarea ng-model="photo.description" class="materialize-textarea"></textarea>
                </div>
                <div>
                    <label>Location (Optional)</label>
                    <input type="text" ng-model="photo.location">
                </div>
                <div>
                  <div class="file-field input-field">
                      <div class="indigo darken-2 btn">
                        <span>Photo</span>
                        <input type="file" id="file" accept="image/jpeg image/png image/tiff">
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" value="(Required)">
                      </div>
                    </div>
                </div>
                <br />
                <button class="indigo darken-2 waves-effect waves-light btn">Post</button>
                <p>{{photo.error}}</p>
                <p>{{photo.success}}</p>
            </form>


        </div>

        <%- include ../partials/footer.ejs %>

        <%- include ../partials/scripts.ejs %>
    </body>
</html>
